<a href="https://colab.research.google.com/github/H-y-hoon/Prediction_of_Shared_Bike_Usage/blob/main/Bicycle_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA LOAD**
1.ÏΩîÎû© ÌôòÍ≤ΩÏóêÏÑú ÏïÑÎûòÏùò ÏΩîÎìú Ïã§ÌñâÏùÄ ÌïÑÏàò!!üòÄ

-> ÎìúÎùºÏù¥Î∏åÏóêÏÑú ÌååÏùºÏùÑ Í∞ÄÏ†∏Ïò§Í∏∞ ÏúÑÌïòÏó¨ ÌòÑÏû¨ ÌååÏùºÍ≥º ÎìúÎùºÏù¥Î∏åÎ•º Ïó∞ÎèôÏãúÌÇ®Îã§.

In [ ]:
#Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏åÏôÄ mount(Ïó∞Í≤∞)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##**1. ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìò∏Ï∂ú**

- **ÎùºÏù¥Î∏åÎü¨Î¶¨(library)**Îäî Ïó¨Îü¨ Ìå®ÌÇ§ÏßÄÏôÄ Î™®ÎìàÎì§ÏùÑ Î™®ÏïÑÎÜìÏùÄ Í≤ÉÏùÑ ÏùòÎØ∏ÌïúÎã§.

- ÌååÏù¥Ïç¨Ïùò ÎåÄÌëúÏ†ÅÏù∏ ÎùºÏù¥Î∏åÎü¨Î¶¨Îäî ÏãúÍ∞ÅÌôî ÎùºÏù¥Î∏åÎü¨Î¶¨Ïù∏ **matplotlib**Í≥º Î®∏Ïã†Îü¨Îãù ÎùºÏù¥Î∏åÎü¨Î¶¨Ïù∏ **pytorch**Í∞Ä ÏûàÎã§.

- **Ìå®ÌÇ§ÏßÄ(package)**Îäî ÌäπÏ†ï Í∏∞Îä•Í≥º Í¥ÄÎ†®Îêú Ïó¨Îü¨ Î™®ÎìàÏùÑ Ìïú Ìè¥Îçî ÏïàÏóê ÎÑ£Ïñ¥ Í¥ÄÎ¶¨ÌïòÎäîÎç∞ Ïù¥Î•º Ìå®ÌÇ§ÏßÄÎùºÍ≥† ÌïúÎã§. ÏòàÎ•º Îì§Ïñ¥ TestÎùºÎäî Ìè¥Îçî ÏïàÏóê __init__.py, test.pyÏôÄ Í∞ôÏùÄ ÌååÏùºÎì§Ïù¥ Î™®Ïó¨ÏûàÎäî Í≤ÉÏù¥Îã§.

- Ìå®ÌÇ§ÏßÄÏùò ÏòàÎ°úÎäî **ÌåêÎã§Ïä§(pandas)**ÏôÄ **ÎÑòÌååÏù¥(numpy)**Í∞Ä ÏûàÎã§.

- **Î™®Îìà(module)**ÏùÄ Ìï®Ïàò, Î≥ÄÏàò, ÌÅ¥ÎûòÏä§Î•º Î™®ÏïÑÎÜìÏùÄ Í≤ÉÏùÑ ÎßêÌïúÎã§. ÏùºÎ∞òÏ†ÅÏúºÎ°ú Ìïú ÌååÏùºÏùÑ ÎßêÌïòÎäîÎç∞ ÏòàÎ•º Îì§Ïñ¥ .pyÏôÄ Í∞ôÏùÄ ÌïòÎÇòÏùò ÌååÏùº ÏïàÏóê Ìï®ÏàòÏôÄ Î≥ÄÏàò, ÌÅ¥ÎûòÏä§Í∞Ä Î™®Ïó¨ÏûàÎäî Í≤ÉÏúºÎ°ú Î≥º Ïàò ÏûàÎã§. 

- Í≤∞Î°†Ï†ÅÏúºÎ°ú ÎùºÏù¥Î∏åÎü¨Î¶¨ >= Ìå®ÌÇ§ÏßÄ >= Î™®ÎìàÎ°ú Î≥º Ïàò ÏûàÎã§.

##**2. Pandas ÏÜåÍ∞ú**
pandas Îäî python Ïùò ÎåÄÌëúÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏö© ÎùºÏù¥Î∏åÎü¨Î¶¨Ïù¥Îã§. Ïù¥Î•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Íµ¨Ï°∞ÌôîÌïòÍ≥† Ï°∞ÏûëÌï† Ïàò ÏûàÎã§.

Î®ºÏ†Ä pandas Î•º Î∂àÎü¨ÏôÄ Î≥¥Ïûê!

Î≥¥ÌÜµ numpy ÏôÄ Ìï®Íªò Î°úÎìúÌïòÎ©∞, Í∞ÅÍ∞Å pdÏôÄ np ÎùºÎäî Î≥ÑÎ™ÖÏùÑ Ï£ºÎ°ú ÏÇ¨Ïö©ÌïúÎã§.

In [ ]:
#import Î™®Îìà as Ï§ÑÏûÑÎßê
import pandas as pd
import numpy as np

# ÏãúÍ∞ÅÌôîÎ•º ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
import matplotlib.pyplot as plt
import seaborn as sns

#### **2-1. pandas DataFrame**
pandas Îäî DataFrame Í≥º Series Ïùò Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞Î•º Í∞ñÎäîÎã§.

DataFrame (DF) ÏùÄ Ìëú ÌòïÌÉúÏùò 2Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞Î°ú, Ìñâ(Ïù∏Îç±Ïä§), Ïó¥, Îç∞Ïù¥ÌÑ∞ Î•º Í∞ñÏäµÎãàÎã§. Series Îäî 1Ï∞®ÏõêÏùò Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞Î°ú Ïù∏Îç±Ïä§ÏôÄ Îç∞Ïù¥ÌÑ∞Îßå Í∞ñÎäîÎã§.

Í∑∏Îü¨ÎãàÍπå, Îã§ÏùåÍ≥º Í∞ôÏù¥ DFÍ∞Ä Ï°¥Ïû¨Ìï† Îïå, Í∞Å Ïó¥ÏùÄ Series Î°ú ÏÉùÍ∞ÅÌï¥Î≥º Ïàò ÏûàÎã§.


![base_01_pandas_5_0.webp]()

In [ ]:
# train Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv('/content/drive/MyDrive/2023_·ÑÑ·Ö°·ÑÖ·Ö≥·Üº·Ñã·Öµ_·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ/train.csv')

# test Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
test = pd.read_csv('/content/drive/MyDrive/2023_·ÑÑ·Ö°·ÑÖ·Ö≥·Üº·Ñã·Öµ_·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ/test.csv')

# submissionÎç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
sub = pd.read_csv('/content/drive/MyDrive/2023_·ÑÑ·Ö°·ÑÖ·Ö≥·Üº·Ñã·Öµ_·Ñâ·Ö≥·Ñê·Ö•·ÑÉ·Öµ/sample_submission.csv')

##**3. Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ÌïòÍ∏∞**
Ïó¨Îü¨ Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º ÌôïÏù∏Ìï¥Î≥¥Ïûê.

___________________________________________
**1. bicycle_train.csv : ÌïôÏäµ Îç∞Ïù¥ÌÑ∞**

date_time : ÏùºÎ≥Ñ ÎÇ†Ïßú

wind_direction: ÌíçÌñ• (degree)

sky_condition : ÌïòÎäò ÏÉÅÌÉú (ÌïòÎã® ÏÑ§Î™Ö Ï∞∏Ï°∞)

precipitation_form : Í∞ïÏàò ÌòïÌÉú (ÌïòÎã® ÏÑ§Î™Ö Ï∞∏Ï°∞)

wind_speed : ÌíçÏÜç (m/s)

humidity : ÏäµÎèÑ (%)

low_temp : ÏµúÏ†Ä Í∏∞Ïò® ( `C)

high_temp : ÏµúÍ≥† Í∏∞Ïò® ( `C)

Precipitation_Probability : Í∞ïÏàò ÌôïÎ•† (%)

number_of_rentals : Îî∞Î¶âÏù¥ ÎåÄÏó¨Îüâ

In [ ]:
#type Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ ÌôïÏù∏

print(type(train))
print(type(test))
print(type(sub))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#shape Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌÅ¨Í∏∞ ÌôïÏù∏

print(train.shape)
print(test.shape)
print(sub.shape)

(273, 10)
(91, 9)
(91, 2)

In [ ]:
train

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833
...,...,...,...,...,...,...,...,...,...,...
268,2020-06-26,228.662,3.980,0.223,2.271,78.378,20.500,27.526,36.486,96150
269,2020-06-27,207.770,2.865,0.081,1.794,78.412,20.812,28.842,21.081,107001
270,2020-06-28,282.568,1.730,0.000,1.820,72.736,21.000,29.053,7.297,98568
271,2020-06-29,137.027,2.257,0.088,2.043,70.473,19.625,26.000,15.541,70053
272,2020-06-30,120.797,3.622,0.432,5.574,77.061,19.125,26.053,41.284,38086

trainÏóê read_csv Ìï®ÏàòÏùò Í≤∞Í≥ºÍ∞Ä Îì§Ïñ¥Í∞îÎã§. 
csv Îäî comma seperated values Ïùò ÏïΩÏûêÎ°ú, ÏâºÌëúÎ°ú Íµ¨Î∂ÑÌïú Îç∞Ïù¥ÌÑ∞Ïùò ÌòïÌÉúÎ•º ÏùòÎØ∏ÌïúÎã§.
ÏâΩÍ≤å ÏÉùÍ∞ÅÌïòÎ©¥, ÏóëÏÖÄÏùò ÎÇ¥Ïö©Îßå Ï†ÄÏû•Ìïú ÌòïÌÉúÍ∞Ä ÎêòÎäî Í≤ÉÏù¥Îã§.

- type Î°ú ÌôïÏù∏Ìï¥Î≥¥Î©¥ DataFrameÏù∏ Í≤ÉÏùÑ Ïïå Ïàò ÏûàÎã§. Í∑∏Îü¨ÎãàÍπå, read_csv Ïùò Í≤∞Í≥ºÎäî DFÍ∞Ä ÎêúÎã§ Î•º Í∏∞ÏñµÌïòÏûê! üò∏

- ... ÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏÉùÎûµÎêòÏñ¥ ÏûàÏùåÏùÑ ÏùòÎØ∏ÌïúÎã§.

- Python Ïùò Í∑úÏπôÏóê Îî∞Îùº, Ïà´ÏûêÎäî 0Î∂ÄÌÑ∞ ÏÑ∏Îäî Í≤ÉÏùÑ Í∏∞ÏñµÌïòÏûê.

Î≥¥ÌÜµ Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Î•º Ï∂úÎ†•ÌïòÎäî Í≤ΩÏö∞Îäî ÎßéÏßÄ ÏïäÍ≥†, ÏùºÎ∂ÄÎ∂ÑÎßå Î¥Ñ. (ÌôîÎ©¥Ïóê Îã§ Ïïà ÎÇòÏò§ÎãàÍπå„Öã„Öã)

In [ ]:
#Îç∞Ïù¥ÌÑ∞ Íµ¨Í≤ΩÌïòÍ∏∞
train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833

In [ ]:
#ÎîîÌè¥Ìä∏Í∞íÏùÄ 5 
#Í∞ÄÎ°úÏïàÏóê ÏõêÌïòÎäî Ïà´ÏûêÎ•º ÎÑ£Ïñ¥ÏÑú Îç∞Ïù¥ÌÑ∞Î•º ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.

train.head(10)

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability
0,2021-04-01,108.833,3.000,0.000,2.900,28.333,11.800,20.667,18.333
1,2021-04-02,116.717,3.850,0.000,2.662,46.417,12.000,19.000,28.500
2,2021-04-03,82.669,4.000,0.565,2.165,77.258,8.875,16.368,52.847
3,2021-04-04,44.123,3.466,0.466,3.747,63.288,6.250,17.368,37.671
4,2021-04-05,147.791,1.500,0.000,1.560,48.176,7.188,18.684,4.459
5,2021-04-06,248.297,2.655,0.000,1.780,55.574,7.250,19.053,17.095
6,2021-04-07,266.865,1.000,0.000,1.979,54.696,5.625,17.947,0.000
7,2021-04-08,283.142,1.000,0.000,2.570,48.378,6.312,17.632,0.000
8,2021-04-09,170.541,1.014,0.000,1.159,44.662,7.250,18.579,0.068
9,2021-04-10,202.155,1.351,0.000,2.155,50.811,8.562,19.474,2.432

In [ ]:
#tailÌï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏµúÌïòÎã® Îç∞Ïù¥ÌÑ∞Î•º ÌôïÏù∏Ìï¥Î≥¥Ïûê

train.tail()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
268,2020-06-26,228.662,3.980,0.223,2.271,78.378,20.500,27.526,36.486,96150
269,2020-06-27,207.770,2.865,0.081,1.794,78.412,20.812,28.842,21.081,107001
270,2020-06-28,282.568,1.730,0.000,1.820,72.736,21.000,29.053,7.297,98568
271,2020-06-29,137.027,2.257,0.088,2.043,70.473,19.625,26.000,15.541,70053
272,2020-06-30,120.797,3.622,0.432,5.574,77.061,19.125,26.053,41.284,38086

**2. bicycle_test.csv : ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞**

date_time : ÏùºÎ≥Ñ ÎÇ†Ïßú

wind_direction: ÌíçÌñ•

sky_condition : ÌïòÎäò ÏÉÅÌÉú

precipitation_form : Í∞ïÏàò ÌòïÌÉú

wind_speed : ÌíçÏÜç

humidity : ÏäµÎèÑ

low_temp : ÏµúÏ†Ä Í∏∞Ïò®

high_temp : ÏµúÍ≥† Í∏∞Ïò®

Precipitation_Probability : Í∞ïÏàò ÌôïÎ•†

In [ ]:
#test Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

test.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability
0,2021-04-01,108.833,3.000,0.000,2.900,28.333,11.800,20.667,18.333
1,2021-04-02,116.717,3.850,0.000,2.662,46.417,12.000,19.000,28.500
2,2021-04-03,82.669,4.000,0.565,2.165,77.258,8.875,16.368,52.847
3,2021-04-04,44.123,3.466,0.466,3.747,63.288,6.250,17.368,37.671
4,2021-04-05,147.791,1.500,0.000,1.560,48.176,7.188,18.684,4.459

In [ ]:
test.tail()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability
86,2021-06-26,177.149,3.980,0.223,1.066,74.628,20.312,28.579,36.486
87,2021-06-27,138.723,2.777,0.135,1.290,70.236,20.812,29.000,18.378
88,2021-06-28,111.095,3.338,1.270,1.692,70.338,21.000,28.789,35.946
89,2021-06-29,171.622,3.270,0.595,1.470,70.473,21.000,29.421,27.770
90,2021-06-30,181.709,3.270,0.703,1.180,75.203,21.500,30.211,29.054

**3. sample_submissoin.csv : Ï†úÏ∂ú ÏñëÏãù**

date_time : ÏùºÎ≥Ñ ÎÇ†Ïßú

number_of_rentals : Îî∞Î¶âÏù¥ ÎåÄÏó¨Îüâ

In [ ]:
#submisssion Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
sub.head()

    date_time  number_of_rentals
0  2021-04-01                  0
1  2021-04-02                  0
2  2021-04-03                  0
3  2021-04-04                  0
4  2021-04-05                  0

####**3-1. Îç∞Ïù¥ÌÑ∞ ÌòïÏãù**

pandas Ïùò Îç∞Ïù¥ÌÑ∞ ÌòïÏãùÏùÄ Îã§ÏùåÍ≥º Í∞ôÏùÄ Ï¢ÖÎ•òÍ∞Ä ÏûàÎã§.

Í∞Å Ïª¨ÎüºÏù¥ Ïñ¥Îñ§ ÌòïÏãùÏù∏ÏßÄ Ï†ïÌôïÌïòÍ≤å ÏïÑÎäî Í≤ÉÏù¥ Ï§ëÏöîÌïòÎãà Ï£ºÏùòÌï¥ÏÑú Î≥¥Ïûê.

Í≤∞Ï∏°ÏπòÎ•º ÌëúÏãúÌï† Ïàò ÏûàÎäîÏßÄ Ïó¨Î∂ÄÏóê Îî∞Îùº Îã¨ÎùºÏßÑÎã§.
(Í≤∞Ï∏°ÏπòÎäî Ï∂îÌõÑ ÏÑ§Î™Ö...)

* float : Î∂ÄÎèôÏÜåÏàòÏ†ê (Í≤∞Ï∏°Ïπò O) 
* int : Ï†ïÏàò (Í≤∞Ï∏°Ïπò X)
* Int64 : Ï†ïÏàò (Í≤∞Ï∏°Ïπò O)
* object : Î¨∏ÏûêÏó¥
* category : Î≤îÏ£ºÌòï (Í≤∞Ï∏°Ïπò O)
* bool : Î∂àÎ¶¨Ïñ∏ (Í≤∞Ï∏°Ïπò X)
* boolean : Î∂àÎ¶¨Ïñ∏ (Í≤∞Ï∏°Ïπò O)
* datetime64 : ÎÇ†Ïßú (Í≤∞Ï∏°Ïπò O)

DF.dtypes Î°ú ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.

In [ ]:
print(train.dtypes)
print('\n')
print(test.dtypes)

date_time                     object
wind_direction               float64
sky_condition                float64
precipitation_form           float64
wind_speed                   float64
humidity                     float64
low_temp                     float64
high_temp                    float64
Precipitation_Probability    float64
number_of_rentals              int64
dtype: object


date_time                     object
wind_direction               float64
sky_condition                float64
precipitation_form           float64
wind_speed                   float64
humidity                     float64
low_temp                     float64
high_temp                    float64
Precipitation_Probability    float64
dtype: object

infoÌï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÎèÑ ÎπÑÏä∑Ìïú Í≤∞Í≥ºÎ•º ÎÇº Ïàò ÏûàÎã§.

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  273 non-null    object
 1   wind_direction             273 non-null    float64
 2   sky_condition              273 non-null    float64
 3   precipitation_form         273 non-null    float64
 4   wind_speed                 273 non-null    float64
 5   humidity                   273 non-null    float64
 6   low_temp                   273 non-null    float64
 7   high_temp                  273 non-null    float64
 8   Precipitation_Probability  273 non-null    float64
 9   number_of_rentals          273 non-null    int64
dtypes: float64(8), int64(1), object(1)
memory usage: 21.5+ KB

describe Ìï®ÏàòÎ•º Ïù¥Ïö©ÌïòÏó¨ Í∏∞Ïà†ÌÜµÍ≥ÑÎüâÏùÑ ÌôïÏù∏Ìï¥Î≥¥Ïûê.

- describe Ìï®ÏàòÎäî numpy ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÌÜµÌïòÏó¨ ÏÇ¨Ïö©Ìï† Ïàò ÏûàÎã§,

- Í∏∞Ïà†ÌÜµÍ≥ÑÎüâÏù¥ÎûÄ Îç∞Ïù¥ÌÑ∞ ÏßëÌï©Ïóê ÎåÄÌïú Í∞ÑÎã®Ìïú ÌÜµÍ≥ÑÎ•º Î≥º Ïàò ÏûàÎã§.

rowÎ≥Ñ ÏùòÎØ∏

Count : Ïª¨ÎüºÎ≥Ñ Ï¥ù Îç∞Ïù¥ÌÑ∞Ïàò

mean / std :  Ïª¨ÎüºÎ≥Ñ Îç∞Ïù¥ÌÑ∞Ïùò ÌèâÍ∑† / ÌëúÏ§ÄÌé∏Ï∞®

min / max  :  Ïª¨ÎüºÎ≥Ñ Îç∞Ïù¥ÌÑ∞ ÏµúÏÜåÍ∞í / ÏµúÎåÄÍ∞í

25% / 50% / 75% : Î∞±Î∂ÑÏúÑÏàòÏùò Í∞Å ÏßÄÏ†êÏúºÎ°ú, Î∂ÑÌè¨Î•º Î∞òÏòÅÌï¥ ÌèâÍ∑†ÏùÑ Î≥¥ÏôÑÌïòÎäî Î™©Ï†ÅÏúºÎ°ú ÏÇ¨Ïö©

In [ ]:
train.describe()

,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
count,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000,273.000000
mean,202.750967,2.288256,0.100963,2.480963,56.745491,13.795249,23.384733,16.878103,59574.978022
std,56.659232,0.961775,0.203193,0.884397,12.351268,5.107711,5.204605,16.643772,27659.575774
min,57.047000,1.000000,0.000000,0.753000,24.831000,1.938000,9.895000,0.000000,1037.000000
25%,171.541000,1.405000,0.000000,1.820000,47.196000,9.938000,19.842000,4.054000,36761.000000
50%,209.774000,2.167000,0.000000,2.411000,55.845000,14.375000,24.158000,12.162000,63032.000000
75%,238.412000,3.000000,0.088000,2.924000,66.419000,18.000000,27.526000,22.973000,81515.000000
max,321.622000,4.000000,1.000000,5.607000,88.885000,22.312000,33.421000,82.162000,110377.000000

ÌäπÏ†ï Ïª¨Îüº/ÏãúÎ¶¨Ï¶àÏùò ÏöîÏïΩ Ï†ïÎ≥¥Î•º ÌôïÏù∏Ìï† Í≤ΩÏö∞

In [ ]:
train['wind_direction'].describe()

count    273.000000
mean     202.750967
std       56.659232
min       57.047000
25%      171.541000
50%      209.774000
75%      238.412000
max      321.622000
Name: wind_direction, dtype: float64

#**1Ï£ºÏ∞® ÏàòÍ≥†ÌïòÏÖ®ÏäµÎãàÎã§:)**