<a href="https://colab.research.google.com/github/H-y-hoon/Prediction_of_Shared_Bike_Usage/blob/main/week2_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PREPROCESSING⭐**
- 전처리란 데이터 분석을 수행하기 전에 데이터를 정리, 변환, 조작, 정제하는 과정을 말합니다. 이러한 과정은 데이터 분석의 품질과 성능에 큰 영향을 미칩니다.

- 흔히들 분석 결과의 90%는 전처리에서 결정된다. 혹은 모델의 성능은 전처리를 얼마나 잘했는지에 결정된다 라고 합니다.

###**METHODE**

- **결측치 처리**: 결측치는 데이터에서 누락된 값입니다. 이러한 값들은 분석에 방해가 되므로 이를 처리해주어야 합니다. 이를 위해 결측치를 삭제하거나 대체하는 방법을 사용할 수 있습니다.

- **이상치 처리**: 이상치는 일반적인 값 범위를 벗어난 값을 의미합니다. 이러한 값들은 분석에 영향을 미치므로 이를 처리해주어야 합니다. 이를 위해 이상치를 삭제하거나 대체하는 방법을 사용할 수 있습니다.

- **데이터 정규화**: 데이터 정규화는 데이터를 일정한 범위나 척도로 변환하는 과정입니다. 이를 통해 다양한 단위로 측정된 변수들 간의 비교가 가능해집니다.

- **데이터 인코딩**: 범주형 데이터를 수치형 데이터로 변환하는 과정입니다. 이를 위해 One-Hot Encoding, Label Encoding 등의 방법을 사용할 수 있습니다.

- **특징 선택 및 추출**: 분석에 필요한 특징을 선택하고, 이를 추출하는 과정입니다. 이를 통해 분석의 정확성과 성능을 향상시킬 수 있습니다.

In [ ]:
#구글 드라이브와 mount(연결)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#library load

import pandas as pd
import numpy as np

In [ ]:
#Data load

train = pd.read_csv('/content/drive/MyDrive/2023_따릉이/자료/train.csv')
test = pd.read_csv('/content/drive/MyDrive/2023_따릉이/자료/test.csv')

**1. bicycle_train.csv : 학습 데이터**

date_time : 일별 날짜

wind_direction: 풍향 (degree)

sky_condition : 하늘 상태 (하단 설명 참조)

precipitation_form : 강수 형태 (하단 설명 참조)

wind_speed : 풍속 (m/s)

humidity : 습도 (%)

low_temp : 최저 기온 ( `C)

high_temp : 최고 기온 ( `C)

Precipitation_Probability : 강수 확률 (%)

number_of_rentals : 따릉이 대여량

In [ ]:
#상위 데이터 확인
train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833

In [ ]:
#train 크기 확인
train.shape

(273, 10)

In [ ]:
#train의 전체적인 정보 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  273 non-null    object
 1   wind_direction             273 non-null    float64
 2   sky_condition              273 non-null    float64
 3   precipitation_form         273 non-null    float64
 4   wind_speed                 273 non-null    float64
 5   humidity                   273 non-null    float64
 6   low_temp                   273 non-null    float64
 7   high_temp                  273 non-null    float64
 8   Precipitation_Probability  273 non-null    float64
 9   number_of_rentals          273 non-null    int64
dtypes: float64(8), int64(1), object(1)
memory usage: 21.5+ KB

In [ ]:
#특정 컬럼만 info 사용
train['date_time'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 273 entries, 0 to 272
Series name: date_time
Non-Null Count  Dtype
--------------  -----
273 non-null    object
dtypes: object(1)
memory usage: 2.3+ KB

In [ ]:
train['number_of_rentals'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 273 entries, 0 to 272
Series name: number_of_rentals
Non-Null Count  Dtype
--------------  -----
273 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB

In [ ]:
#기술통계량 확인
train.describe().T

,count,mean,std,min,25%,50%,75%,max
wind_direction,273.0,202.750967,56.659232,57.047,171.541,209.774,238.412,321.622
sky_condition,273.0,2.288256,0.961775,1.000,1.405,2.167,3.000,4.000
precipitation_form,273.0,0.100963,0.203193,0.000,0.000,0.000,0.088,1.000
wind_speed,273.0,2.480963,0.884397,0.753,1.820,2.411,2.924,5.607
humidity,273.0,56.745491,12.351268,24.831,47.196,55.845,66.419,88.885
low_temp,273.0,13.795249,5.107711,1.938,9.938,14.375,18.000,22.312
high_temp,273.0,23.384733,5.204605,9.895,19.842,24.158,27.526,33.421
Precipitation_Probability,273.0,16.878103,16.643772,0.000,4.054,12.162,22.973,82.162
number_of_rentals,273.0,59574.978022,27659.575774,1037.000,36761.000,63032.000,81515.000,110377.000

In [ ]:
train.head(10)

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833
5,2018-04-06,256.412,3.466,0.358,3.734,68.885,2.500,9.895,40.068,13297
6,2018-04-07,288.858,1.912,0.000,4.824,45.541,1.938,10.947,9.122,13088
7,2018-04-08,200.939,2.405,0.054,3.865,53.243,4.312,14.211,15.676,7758
8,2018-04-09,165.196,2.000,0.000,2.412,55.473,8.188,17.474,10.000,23925
9,2018-04-10,171.541,2.919,0.088,5.607,54.054,8.375,18.474,21.824,20423

In [ ]:
#object타입 컬럼의 describe 사용
#count -> 데이터의 갯수 | unique -> 고유값
#     top -> 최빈값     | freq -> 최빈값의 빈도

train['date_time'].describe(include='O')

count            273
unique           273
top       2018-04-01
freq               1
Name: date_time, dtype: object

In [ ]:
#결측치 확인

train.isna().sum()

date_time                    0
wind_direction               0
sky_condition                0
precipitation_form           0
wind_speed                   0
humidity                     0
low_temp                     0
high_temp                    0
Precipitation_Probability    0
number_of_rentals            0
dtype: int64

##**Date time Data Preprocessing**
문자(텍스트) 데이터로 전처리를 해주어야 분석에 사용할 수 있다.

지금부턴 텍스트 데이터로 전처리 하는 과정을 살펴보자!

In [ ]:
#date_time 컬럼만 출력
train['date_time']

0      2018-04-01
1      2018-04-02
2      2018-04-03
3      2018-04-04
4      2018-04-05
          ...
268    2020-06-26
269    2020-06-27
270    2020-06-28
271    2020-06-29
272    2020-06-30
Name: date_time, Length: 273, dtype: object

날짜 컬럼을 출력해보았더니 YYYY-MM-DD 의 형태로 이루어져있는 것을 확인!

첫번째 값만 추출해서 **-** 을 기준으로 쪼개보자

In [ ]:
#split

train['date_time'][0].split('-')

['2018', '04', '01']

In [ ]:
train['date_time'].apply(lambda x : x.split('-'))

0      [2018, 04, 01]
1      [2018, 04, 02]
2      [2018, 04, 03]
3      [2018, 04, 04]
4      [2018, 04, 05]
            ...
268    [2020, 06, 26]
269    [2020, 06, 27]
270    [2020, 06, 28]
271    [2020, 06, 29]
272    [2020, 06, 30]
Name: date_time, Length: 273, dtype: object

In [ ]:
train['date_time'].apply(lambda x : x.split('-')[0])

# data time의 컬럼 값을 년 월 일 등의 개별요소 분리하는 작업

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
268    2020
269    2020
270    2020
271    2020
272    2020
Name: date_time, Length: 273, dtype: object

분리된 년/월/일 데이터에서 0번째만 추출해보았더니 

'년' 열만 출력이 되는걸 확인!

그럼 apply 함수를 이용해서 연/월/일 이라는 새로운 컬럼을 생성하겠습니다.

In [ ]:
train['year'] = train['date_time'].apply(lambda x : x.split('-')[0]) #년
train['month'] = train['date_time'].apply(lambda x : x.split('-')[1]) #월
train['day'] = train['date_time'].apply(lambda x : x.split('-')[2]) #일

# 혹은 
#train['year'] = train['date_time'].map(lambda x : x.split('-')[0]) #년
#train['month'] = train['date_time'].map(lambda x : x.split('-')[1]) #월
#train['day'] = train['date_time'].map(lambda x : x.split('-')[2]) #일

In [ ]:
train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals,year,month,day
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994,2018,04,01
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139,2018,04,02
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817,2018,04,03
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034,2018,04,04
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833,2018,04,05

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  273 non-null    object
 1   wind_direction             273 non-null    float64
 2   sky_condition              273 non-null    float64
 3   precipitation_form         273 non-null    float64
 4   wind_speed                 273 non-null    float64
 5   humidity                   273 non-null    float64
 6   low_temp                   273 non-null    float64
 7   high_temp                  273 non-null    float64
 8   Precipitation_Probability  273 non-null    float64
 9   number_of_rentals          273 non-null    int64
 10  year                       273 non-null    object
 11  month                      273 non-null    object
 12  day                        273 non-null    object
dtypes: float64(8), int64(1), object(4)
memory usage: 27.9+ KB

##**Add Week day Data**
날짜 정보가 포함되어있는 date_time 이라는 컬럼을 이용해서 요일 정보를 추가해보자!

In [ ]:
week_day = pd.to_datetime(train['date_time']).dt.day_name()
week_day

0         Sunday
1         Monday
2        Tuesday
3      Wednesday
4       Thursday
         ...
268       Friday
269     Saturday
270       Sunday
271       Monday
272      Tuesday
Name: date_time, Length: 273, dtype: object

위에서 생성한 week_day 를 train 컬럼에 넣어주자

In [ ]:
train['week_day'] = week_day

train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals,year,month,day,week_day
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994,2018,04,01,Sunday
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139,2018,04,02,Monday
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817,2018,04,03,Tuesday
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034,2018,04,04,Wednesday
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833,2018,04,05,Thursday

지금까지 생성한 year, month, day, week_day 컬럼이 모두 새로 추가된 것을 확인!

##**Change Value type**
**새로 생성된 컬럼의 타입이 object형이므로 정수(int)로 변경 해주어야 한다.**

왜냐하면 

- 대부분의 머신 러닝 알고리즘은 숫자형 데이터를 입력으로 받아들인다. 따라서 object 타입의 변수를 숫자형으로 변환해주어야 해당 변수를 머신 러닝 알고리즘에 적용할 수 있다.

- object 타입의 변수는 문자열로 이루어져 있으며, 이는 데이터 분석 과정에서 처리하기 어렵다. 예를 들어, 날짜 데이터가 object 타입으로 저장되어 있으면 날짜 간의 차이나 순서를 계산하는 등의 작업이 어렵다. 따라서 object 타입의 변수를 int 타입으로 변환하여 데이터 분석 과정을 수월하게 만드는 것이 좋다.

- int 타입으로 변환할 경우 메모리 사용량이 줄어들어 더욱 효율적인 데이터 처리가 가능하며, 연산 속도도 빨라지는 장점이 있다. 따라서 대부분의 경우 object 타입의 변수를 int 타입으로 변환해주는 것이 데이터 전처리 과정에서 중요한 단계 중 하나이다.

In [ ]:
#train['year'] = train['year'].apply(lambda x : int(x))

train['year'] = train['year'].astype('int')

In [ ]:
train['year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 273 entries, 0 to 272
Series name: year
Non-Null Count  Dtype
--------------  -----
273 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB

In [ ]:
train['month'] = train['month'].astype('int')
train['day'] = train['day'].astype('int')

In [ ]:
train[['year','month','day']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    273 non-null    int64
 1   month   273 non-null    int64
 2   day     273 non-null    int64
dtypes: int64(3)
memory usage: 6.5 KB

위에서 생성한 week_day 를 train 컬럼에 넣어주겠습니다.

In [ ]:
train.week_day.unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [ ]:
train['week_day'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 273 entries, 0 to 272
Series name: week_day
Non-Null Count  Dtype
--------------  -----
273 non-null    object
dtypes: object(1)
memory usage: 2.3+ KB

영어로 요일이 적혀있는것을 확인할수있습니다

요일도 마찬가지로 object형이므로 정수(int)형태로 변경 해주겠습니다.
  - 일 -> 0
  - 월 -> 1
  - 화 -> 2
  - 수 -> 3
  - 목 -> 4
  - 금 -> 5
  - 토 -> 6

In [ ]:
train.loc[train['week_day'] == 'Sunday', 'week_day'] = 0
train.loc[train['week_day'] == 'Monday', 'week_day'] = 1
train.loc[train['week_day'] == 'Tuesday', 'week_day'] = 2
train.loc[train['week_day'] == 'Wednesday', 'week_day'] = 3
train.loc[train['week_day'] == 'Thursday', 'week_day'] = 4
train.loc[train['week_day'] == 'Friday', 'week_day'] = 5
train.loc[train['week_day'] == 'Saturday', 'week_day'] = 6

In [ ]:
train['week_day'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 273 entries, 0 to 272
Series name: week_day
Non-Null Count  Dtype
--------------  -----
273 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB

In [ ]:
train['week_day'] = train['week_day'].astype('int')

요일들이 숫자로 잘 변경된 것 같습니다.

unique() 함수를 사용해 요일의 고유값을 확인하여 전처리가 잘 되었는지 점검해볼까요?

In [ ]:
train['week_day'].unique()

array([0, 1, 2, 3, 4, 5, 6])

In [ ]:
train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals,year,month,day,week_day
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994,2018,4,1,0
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139,2018,4,2,1
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817,2018,4,3,2
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034,2018,4,4,3
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833,2018,4,5,4

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  273 non-null    object
 1   wind_direction             273 non-null    float64
 2   sky_condition              273 non-null    float64
 3   precipitation_form         273 non-null    float64
 4   wind_speed                 273 non-null    float64
 5   humidity                   273 non-null    float64
 6   low_temp                   273 non-null    float64
 7   high_temp                  273 non-null    float64
 8   Precipitation_Probability  273 non-null    float64
 9   number_of_rentals          273 non-null    int64
 10  year                       273 non-null    int64
 11  month                      273 non-null    int64
 12  day                        273 non-null    int64
 13  week_day                   273 non-null    int64
dtypes: float64(8), int64(5), object(1)
memory usage: 30.0+ KB

기존 평일에 대한 요일 정보에서 0,1,2,3,4,5,6 로 전처리가 잘 진행되었음을 확인했습니다.